/.idea/.gitignore
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/vcs.xml
/out/production/task11.1/com/company/Lucky$LuckyThread.class
/out/production/task11.1/com/company/Lucky.class
